.mySwiper{
    padding: 20px;
}
.OrderContainer{
    max-height: 580px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
}

.button-Logout{
  height: max-content;
  width: max-content;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}