.Font{
    font-family: "EB Garamond", serif;
    font-style: italic;
}


.custom-font {
  font-family: 'LibreBodoni', serif;
}

.LibreBodoni{
    font-family: libre;
}
.LibreBodoni_description{
    font-family: libre;
    font-style: normal;
    line-height: 1.5;
    font-size: 20px;
}