@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

@font-face {
  font-family: 'LibreBodoni';
  src: url('./assets/Fonts/TTF/LibreBodoni-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBodoni';
  src: url('./assets/Fonts/LibreBodoni-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBodoni';
  src: url('./assets/Fonts/LibreBodoni-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LibreBodoni';
  src: url('./assets/Fonts/LibreBodoni-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

